.chat {
  height: 70vh;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.upper {
  width: 100%;
  height: 85%;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.21);
  overflow-y: scroll;
}

.upper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.upper::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.upper::-webkit-scrollbar-thumb {
  background-color: #434dd3;
  border: 2px solid #434dd3;
}
.lower {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}
.lower textarea {
  resize: none;
  margin: 10px;
  padding: 10px;
  width: 70%;
}
.lower textarea:focus {
  outline: rgb(1, 162, 236);
}
.send {
  margin: 10px;
  padding: 10px;
  width: 30%;
}
textarea::-webkit-scrollbar {
  width: 1em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.received {
  float: left;
  background-color: blue;
  color: white;
  text-align: justify;
  padding: 1px 10px;
}

.sent {
  background-color: rgb(11, 197, 11);
  text-align: justify;
  padding: 1px 10px;
  float: right;
}
.server {
  float: left;
  width: 100%;
  color: grey;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .chat {
    width: 100%;
  }
}
